html {
  background-color: #141414;
  color:  #ffffff;
  padding: 0;
  margin: 0;
}

.container{
  height: 98vh;
  width:  98vw;
  overflow: hidden;
}

.cardBackround {
  background-color: #1f1f1f;
}
.linkBackround{
  background-color: #333333;
}

.neon {
  color: #c4f82a;
}